// app global css in SCSS form

html {
  width: 100% !important;
  height: 100% !important;
}

body {
  width: 100% !important;
  height: 100% !important;
}

#q-app {
  height: 100%;
}

.q-tooltip {
  font-size: 12px !important;
}

::deep .q-tree__node-header {
  padding: 0px;
  margin-top: 3px;
  border-radius: 4px;
  outline: 0;
}
// #q-app > .q-layout{
//     height: 100%;
// }

// #q-app main{
//     height:100%;
// }

@import './font-gis.css';
